.border {
    border: 1px solid;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.siteNameText {
    font-size: 36px;
}

.cities_nav {
    background-color: #ffffff;
}

.timing {
    background-color: #0d6efd;
    color: white;
    padding: 3px;
    margin: 3px;
}

.top-nav {
    background-color: rgb(142, 255, 255);
    padding-top: 2%;
    padding-bottom: 1%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* Тень внизу */
}

main {
    height: 500px;
    margin-top: 1%;
}

.profile-card img {
    object-fit: cover;
    height: 500px;
}

.anketa a {
    text-decoration: none;
}

.rating-star {
    color: #ffc107;
}

.auth {
    font-size: 64px;
}